/*
Theme Name: Foxy
Theme URI: http://www.elegantthemes.com/gallery/
Version: 9999.2.1.1
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
.newsletter.newsletter-subscription { float: right; width: 50%;}
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section { display: block; }

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; color: #878787; background-color: #eaeaea; font-weight: 300; }

a { text-decoration: none; color: #4bb6f5; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #333; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit !important; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 26px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

img { max-width: 100%; height: auto; }
#ie8 img { width: auto; }

#body-area { background-color: #f2f2f2; padding-top: 50px; }
	.container { text-align: left; margin: 0 auto; width: 1280px; position: relative; -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); background-color: #fff; }
			#main-header { padding: 53px 62px 53px 80px; }
				#logo, #slogan { float: left; }
				#slogan { font-style: italic; color: #333; padding-top: 20px; padding-left: 15px; float:left; }
				#top-navigation { float: right; padding-top: 0px; width:60%; text-align:right; }
				.js #top-navigation { visibility: hidden; }
					#top-navigation nav { float: left; }
						#top-navigation li  { display: inline-block; }
							#top-navigation a { color: #333; text-decoration: none; /*padding: 14px 18px;*/ display: block; position: relative; }
							#top-navigation > ul > li.sfHover > a, #top-navigation > ul > li > a:hover, .mobile_nav { color: #fff; background-color: #f15094!important; -webkit-box-shadow: inset 0 0 30px #dd2176!important; -moz-box-shadow: inset 0 0 30px #dd2176!important; box-shadow: inset 0 0 30px #dd2176!important; }
							#top-navigation li.current-menu-item > a, .et_mobile_menu li.current-menu-item > a { font-weight: 800; color: #ed337e; }
							#top-navigation li.current-menu-item > a:hover { color: #fff; }

							#top-navigation > ul > li > a, #footer-bottom li a { overflow: hidden; height: 44px; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; }

				span.menu_slide, span.main_text { display: block; position: relative; padding: 14px 18px; }

				.bottom-nav span.menu_slide, .bottom-nav span.main_text { padding: 23px 20px; }

			#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content { padding: 80px; }
			#section-area, #et-product-slider { border-bottom: 1px solid #f2f2f2; }
			#section-area { padding-bottom: 65px; }
				.service { float: left; width: 318px; margin-right: 83px; }
				.last { margin-right: 0; }
					.service-number { text-align: center; margin-bottom: 31px; }
						/*.service-number span { display: inline-block; font-size: 36px; font-weight: 800; color: #fff; background-color: #eee; height: 81px; width: 81px;  -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; line-height: 102px; position: relative; }
						.service-number span:before { content: ''; position: absolute; bottom: -17px; left: 50%; border: 9px solid transparent; margin-left: -10px; border-top-color: #eee; }*/
					.service h3	{ text-align:center; font-size: 24px; font-weight: 800; padding-bottom: 16px; letter-spacing: -1px; color:#ed337e; }
						.service h3 span { font-weight: 300; }
						.service h3 a { text-decoration: none; }
						.service h3 a:hover { color: #777; }
			#et-product-slider { position: relative; padding-right: 0; overflow: hidden; }
				.et-carousel-wrapper li { float: left; width: 236px; padding-right: 58px; position: relative; text-align: center; }
				.et-carousel-wrapper li img { border: 6px solid #cbcbcb; padding: 5px; }
				.et-carousel-wrapper li a { color:#414247; display:inline-block; font-weight: bold; line-height: normal;    margin-top: 15px; }
				.et-carousel-wrapper li.last { margin-right: 0; }
					.et-thumb { background: url(images/et-thumb-bg.png) no-repeat; height: 136px; width: 186px; padding: 18px 25px; margin-bottom: 24px; }
						.et-thumb img { border: 1px solid #717171; }
					.et-carousel-wrapper h3, .et-products h3, .product h3 { text-align: center; font-weight: 300 !important; font-size: 22px !important; margin-top: 24px !important; padding: 0 !important; }
					.product img { margin-bottom: 0 !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
						.et-carousel-wrapper h3 a { text-decoration: none; }
						.et-carousel-wrapper h3 a:hover, .et-products h3 a:hover { color: #777; text-decoration: none; }
					.et-price-button { position: absolute; text-align: center; display: inline-block; font-size: 24px; font-weight: 800; color: #333; background-color: #fff; height: 80px; min-width: 80px;  -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; line-height: 80px; -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2); box-shadow: 2px 2px 5px rgba(0,0,0,0.2); left: -22px; top: -26px; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
					.et-product-on-sale { line-height: 1; padding-top: 10px; height: 70px; }
						.et-price-button .amount span { font-weight: 300; }
						.et-price-before { font-size: 18px; color: #d2d2d2; font-weight: normal; }
						.et-product-on-sale .et-price-sale { display: block; padding-top: 4px; }
					.et-product:hover .et-price-button, .et-products li:hover .et-price-button, li.product:hover .et-price-button { background-color: #fc8933; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); -webkit-animation: bounceIn_custom 0.7s ease-in-out; -moz-animation: bounceIn_custom 0.7s ease-in-out; -o-animation: bounceIn_custom 0.7s ease-in-out; animation: bounceIn_custom 0.7s ease-in-out; }
					.et-product:hover .et-price-before, li.product:hover .et-price-before, .et-products li:hover .et-price-before { color: rgba( 255, 255, 255, 0.7 ); }
			#home-tab-area, #testimonials, .comment-body, #commentform textarea, #commentform input[type="text"], #et-rating > div, .widget { border: 1px solid #e9e9e9; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.07); box-shadow: 0 1px 4px rgba(0,0,0,0.07); }
			#home-tab-area, #testimonials { float: left; }
			#home-tab-area { width: 718px; margin-right: 80px; }
			body.single #home-tab-area { margin-bottom: 60px; float: none; clear: both; margin-top: 35px; }
				#home-tab-area > ul { -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background-color: #fdfdfd; -webkit-box-shadow: inset 1px -1px 0 #fff, inset -1px 0 0 #fff, 0 2px 2px rgba(0,0,0,0.05); -moz-box-shadow: inset 1px -1px 0 #fff, inset -1px 0 0 #fff, 0 2px 2px rgba(0,0,0,0.05); box-shadow: inset 1px -1px 0 #fff, inset -1px 0 0 #fff, 0 2px 2px rgba(0,0,0,0.05); border-bottom: 5px solid #ea6b1e; padding-left: 0; padding-bottom: 0; position: relative; }
					#home-tab-area > ul > li { display: inline-block; padding: 25px 27px 20px; color: #333; cursor: pointer; }
					#home-tab-area > ul > li.home-tab-active { background-color: #ff8a1d; -webkit-box-shadow: inset 0 0 30px #d9531f; -moz-box-shadow: inset 0 0 30px #d9531f; box-shadow: inset 0 0 30px #d9531f; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); cursor: default; }
					.home-tab-slide { padding: 34px 39px; }
			#testimonials { width: 318px; position: relative; }
			#testimonials:before { position: absolute; background: url(images/blockquote-bg.png) no-repeat; content: ''; bottom: 1px; left: 1px; width: 158px; height: 146px; z-index: 0; }
				.testimonial { position: relative; padding: 40px 40px 60px; }
					.testimonial-author { position: absolute; left: 0; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 40px; bottom: -40px; }
						.et-avatar { position: relative; border: 4px solid #fff; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); display: inline-block; float: left; margin-right: 18px;  }
						.et-avatar:before { -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px ; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
						.post-description .et-avatar:after { content: ''; position: absolute; bottom: -26px; left: 19px; border: 13px solid transparent; border-top-color: #fff; }
						.et-avatar, .et-avatar img {  -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px;  }
							.et-avatar img { display: block; }
						.testimonial-author	strong { display: block; padding: 18px 0; font-weight: 300; color: #ff7100; }
						.testimonial-author p { color: #c6c6c6; }
		#breadcrumbs { background-color: #f6c0d8; color: #fff; padding: 22px 80px; position: relative; font-weight: 600; }
			#breadcrumbs a { text-decoration: none; color: #fff; font-weight: normal; }
			#breadcrumbs .raquo { background: url(images/breadcrumbs_bullet.png) no-repeat; display: inline-block; text-indent: -9999px; width: 8px; height: 13px; margin: 2px 10px 0 10px; vertical-align:top; }
			#left-area { float: left; width: 720px; margin-right: 80px; }
				.post-heading h1 { padding-bottom: 12px; }
				.entry-content .post-heading h1 { font-weight: 400!important; font-size:46px!important; letter-spacing: normal; }
				.entry-content p { font-size:16px; color:#414247; font-weight:400; line-height:26px; padding-bottom:30px; }
				.post-heading p.meta-info { font-size: 24px; color: #333; }
					.post-heading p.meta-info a { color: #333; }
					.post-heading p.meta-info a:hover { color: #777; text-decoration: none; }
		#category-name { -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background-color: #fff; text-align: center; border-bottom: 1px solid #f2f2f2; -moz-box-shadow: inset 0 -1px 0 #fff; -webkit-box-shadow: inset 0 -1px 0 #fff; box-shadow: inset 0 -1px 0 #fff; padding: 69px 80px 64px; position: relative; }
			#category-name p.description { font-size: 24px; color: #333; }
			#category-name .et-price-button { bottom: -39px; left: 50%; margin-left: -40px; top: auto; }
				.entry-post { margin-bottom: 80px; }
					.post-thumbnail { text-align: center; position: relative; }
					.post-thumbnail:before { -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
						.post-thumbnail img { display: block; }
						.post-thumbnail .post-description { position: absolute; text-shadow: 0 0 5px rgba(0, 0, 0, 0.6); top: 128px;   width: 100%; }
							.post-description .testimonial-author { bottom: auto; padding-left: 0; top: -64px; }
								.post-description .et-avatar { float: none; margin-right: 0; }
							.post-description h2 { font-size: 48px; letter-spacing: -2px; background-color: #333; display: inline-block; padding-bottom: 0; }
								.post-description h2 a { text-decoration: none; display: inline-block; padding: 21px 42px; }
								.post-description h2 a:hover { color: rgba(255,255,255,0.9); }
					.entry-post p.meta-info { text-align: center; background-color: #fcfcfc; border: 1px solid #e9e9e9; border-top: none; color: #c3c3c3; text-shadow: 1px 1px 0 #fff; -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.02); -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.02); box-shadow: 0 2px 2px rgba(0,0,0,0.02); padding: 12px 40px; margin-bottom: 18px; }
						.entry-post p.meta-info a { color: #c3c3c3; text-decoration: none; }
						.entry-post p.meta-info a:hover { color: #777; }
					.read-more { padding: 12px 18px; float: right; }

.et-carousel-wrapper { overflow: hidden; margin-right: 50px; }
	.et-carousel-wrapper > ul { position: relative; }

.home-tab-slide { display: none; }
.js #home-tab-area .home-tab-slide:first-child { display: block; }

.entry-content ul, .comment-content ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 26px; }
	.entry-content ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 0; line-height: 26px; }
		.entry-content ul li ul, .entry-content ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
		.entry-content ol li ul, .entry-content ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }

	#content table { border: 1px solid #eee; margin: 0 0 15px 0; text-align: left; width: 100%; }
	#content tr th, #content thead th { color: #555; font-weight: bold; padding: 9px 24px; }
	#content tr td { border-top: 1px solid #eee; padding: 6px 24px; }

.et_full_width_image .post-heading { position: relative; margin-top: -235px; background: #fff; margin-left: -80px; margin-bottom: 70px; padding-left: 80px; padding-top: 54px; }

#et_results_settings { margin-bottom: 30px; }

.et-products, ul.products { clear: both; margin-left: -80px !important; }
	.et-products li, ul.products li { position: relative; float: left; width: 186px !important; margin: 0 0 80px 80px !important; }

.products li { position: relative; }

.variations td.label { padding-top: 15px !important; }
.single_add_to_cart_button { top: 6px; left: 10px !important; }

.related.products h2 { margin-bottom: 50px; }

.et-product-images, .woocommerce .images { width: 453px !important; position: relative !important; float: left !important; }

.woocommerce-page div.product span.onsale { left: -18px !important; right: auto !important; z-index: 100; }

#review_form #reply-title { letter-spacing: 0 !important; font-size: 40px !important; }

.woocommerce div.product div.summary { width: 200px !important; float: left !important; margin-left: 65px; }

.woocommerce div.product div.images img { -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }

.woocommerce div.product div.images div.thumbnails a { margin-bottom: 10px; }

.woocommerce span.onsale, .woocommerce-page span.onsale { left: auto !important; right: 0 !important; top: -11px !important; }

body.home.woocommerce span.onsale { right: 56px !important; }

#callout { display: block; margin-top: 65px; height: 100px; font-size: 30px; background: #eb468a!important; color: #fff; -moz-box-shadow: inset 0 0 30px #d9286e!important; -webkit-box-shadow: inset 0 0 30px #d9286e!important; box-shadow: inset 0 0 30px #d9286e!important; position: relative; }
	#callout > strong { display: inline-block; width: 847px; font-size:46px; padding-left:25px; font-weight: 300; color: #fff; }
		#callout > strong span { font-weight: 800; }
	#callout > strong > strong { color:#fff; }
	#callout > span { width: 240px; display: inline-block; padding: 35px 0; text-align: center; position: relative; background: #9b9b9b; /* Old browsers */
 }
 	#callout > strong, #callout > span { text-shadow: 0 0 10px rgba(0,0,0,0.15); }
		#callout > span:before { content: ''; position: absolute; top: 0; left: -35px; width: 35px; height: 100px; background: url(images/callout-signup-bg-overlay.png) no-repeat; }
#callout:hover { text-decoration: none; }

.fullwidth #left-area { width: 100%; margin: 0; }

.page-template .page-nav { margin-top: 40px; }

/*------------------------------------------------*/
/*---------------[FEATURED SLIDER]----------------*/
/*------------------------------------------------*/

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}

@-webkit-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-moz-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-o-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		transform: translateY(270px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@-webkit-keyframes bounceIn_custom {
	0% {
		-webkit-transform: scale(1);
	}

	25% {
		-webkit-transform: scale(.8);
	}

	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn_custom {
	0% {
		-moz-transform: scale(1);
	}

	25% {
		-moz-transform: scale(.8);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn_custom {
	0% {
		-o-transform: scale(1);
	}

	25% {
		-o-transform: scale(.8);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn_custom {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(.8);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}


@-webkit-keyframes etcustom {
	0%, 100% { background: #f7a13c; }
	50% { background: #f79d3c; }
}
#featured { 
padding-top:30px !important;
background-color: #f5b3ce!important; -webkit-box-shadow: inset 0 0 250px #e35a90!important; -moz-box-shadow: inset 0 0 250px #e35a90!important; box-shadow: inset 0 0 250px #e35a90!important; text-align: center; position: relative; }
#featured.et_slider_auto { padding-bottom: 2px; }
	#featured, #featured #slides { overflow: hidden; }
	#featured .slide { width: 100%; float: left; margin-right: -100%; position: relative; display: none; -webkit-transform: translate3d(0,0,0); min-height: 452px; }
	.js #featured .slide.et-active-slide { display: list-item; }

	#featured .slide img { margin-bottom: -2px; }

	.slide .description { text-shadow: 0 0 10px rgba(0,0,0,0.4); padding-bottom: 30px; }
		.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .post-description h2, .related.products h2 { font-family: 'Raleway', Arial, sans-serif; font-weight: 100; letter-spacing: -4px; }
			.slide a:hover { text-decoration: none; color: rgba(255,255,255,0.9); }
		.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .related.products h2 { font-size: 60px; color: #333; }
		.slide .description h2, .post-description h2 { color: #fff; }
		.slide .description p { color: #fff; font-size: 24px; margin-top: -2px; }
	.left-arrow, .right-arrow, .et-arrow-prev, .et-arrow-next { position: absolute; top: 50%; margin-top: -40px; background-color: #333; width: 40px; height: 80px; text-indent: -9999px; display: block; z-index: 100; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; opacity: 0; }
	.left-arrow, .et-arrow-prev { background: #cccccc url(images/left-arrow.png) no-repeat 5px center; left: -40px; }
	.right-arrow, .et-arrow-next { background: #cccccc url(images/right-arrow.png) no-repeat 10px center; right: -40px; }
	#featured .et-arrow-prev { -webkit-box-shadow: 3px 3px 5px rgba( 0,0,0,0.25 ); -moz-box-shadow: 3px 3px 5px rgba( 0,0,0,0.25 ); box-shadow: 3px 3px 5px rgba( 0,0,0,0.25 ); }
	#featured .et-arrow-next { -webkit-box-shadow: -3px -3px 5px rgba( 0,0,0,0.25 ); -moz-box-shadow: -3px -3px 5px rgba( 0,0,0,0.25 ); box-shadow: -3px -3px 5px rgba( 0,0,0,0.25 ); }

	#featured:hover .et-arrow-prev, #et-product-slider:hover .et-arrow-prev { left: 0; opacity: 1; }
	#featured:hover .et-arrow-next, #et-product-slider:hover .et-arrow-next { right: 0; opacity: 1; }

	#featured-progress-bar { height: 10px; width: 100%; background-color: #333; z-index: 30; position: absolute; bottom: 0px; left: 0; }
		#progress-time { background-color: #ff7100; height: 10px; }

	#featured .slide.et-active-slide img {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: .4s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: .4s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: .4s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: .4s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: .4s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: fadeInUp_custom;
		-moz-animation-name: fadeInUp_custom;
		-o-animation-name: fadeInUp_custom;
		-ms-animation-name: fadeInUp_custom;
		animation-name: fadeInUp_custom;
	}

	#featured .slide.et-active-slide .description {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: .9s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: .9s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: .9s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: .9s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: .9s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: bounceIn;
		-moz-animation-name: bounceIn;
		-ms-animation-name: bounceIn;
		-o-animation-name: bounceIn;
		animation-name: bounceIn;
	}

	#featured .slide.et-active-slide h2 {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: 1.4s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: 1.4s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: 1.4s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: 1.4s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: 1.4s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: bounceIn;
		-moz-animation-name: bounceIn;
		-ms-animation-name: bounceIn;
		-o-animation-name: bounceIn;
		animation-name: bounceIn;
	}

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap, #respond { position: relative; padding-top: 51px; }
	.commentlist, #respond { padding-top: 11px; }
		#comments { padding-bottom: 40px; }
			.comment_area { position: relative; }
			.comment-body { position: relative; padding: 40px; min-height: 110px; margin-bottom: 80px; }
			.comment-body:before { background: url("images/blockquote-bg.png") no-repeat scroll 0 0 transparent; bottom: 1px; content: ""; height: 146px; left: 1px; position: absolute; width: 158px; z-index: 0; }
				.comment_avatar { position: absolute; top: 0; left: 0; }
					.comment_avatar img { display: block; -moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }
				.comment_avatar:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); box-shadow: inset 0 0 7px rgba(0,0,0,0.5); -moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }
				.comment_postinfo { margin-bottom: 6px; padding-top: 3px; }
				.fn, .fn a { font-weight: 800; text-decoration: none; color: #2a2a2a; }
				.comment_date { color: #c5c5c5; }

				.comment-reply-link, .form-submit #submit { float: right; margin-top: 7px; }
				.comment-reply-link { color: #333; font-weight: 300; }
					.comment-reply-link:hover, .form-submit #submit:hover { text-decoration: none; }
					.comment-reply-link:hover { color: #777; }
				.form-submit #submit, .read-more { color: #fff; text-shadow: 1px 1px 0 #000; border: 1px solid #000; -moz-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background-color: #444; -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #4d4d4d; -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #4d4d4d; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #4d4d4d; font-weight: 400; }
				.form-submit #submit { padding: 14px 17px; }
				.form-submit #submit:hover, .read-more:hover { -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background-color: #555; text-decoration: none; }

				.commentlist .children { padding-left: 75px; }

				#respond { padding-top: 30px; }

				#commentform input[type="text"], #et-rating > div { width: 40%; }
				#commentform textarea { width: 96%; }
				#commentform textarea, #commentform input[type="text"], #et-rating > div {  padding: 13px; color: #878787; }

				#reply-title small { display: block; padding-top: 5px; font-weight: bold; letter-spacing: 0; font-size: 12px; }

				.form-submit { text-align: right; }
					.form-submit #submit { font-size: 16px; float: none; }

				.comment #respond, #trackbacks { margin-bottom: 30px; }

				.comment #respond { background: none; -moz-box-shadow: none; -webkit-filter: none; filter: none; padding: 0; margin-top: 32px; }

				.comment #respond:before { display: none; }


/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer-area { border-top: 1px solid #d7d7d7; -webkit-box-shadow: inset 0 1px 0 #f6f6f6; -moz-box-shadow:  inset 0 1px 0 #f6f6f6; box-shadow: inset 0 1px 0 #f6f6f6; }
	#main-footer { background-color: #414247; padding-bottom: 0; }
		#main-footer a { color: #bebebe; }
		#main-footer a:hover { color: #fff; text-decoration: none; }
			.footer-widget { float: left; width: 316px; margin-right: 77px; text-shadow: 1px 1px 0 #000; color: #bebebe; }
			.last { margin-right: 0; }
				.footer-widget h4.widgettitle { font-weight: 600; padding-bottom: 5px; color: #fff; }
				#footer-logo { float: left; margin-right: 5px; }
				#footer-copyright { font-size: 14px; font-style: italic; color: #747373; text-shadow: none; padding-top: 16px; }
				.footer-widget p { font-weight: 400; }
	#footer-bottom { background-color: #f6c0d8; border-top: 1px solid #363636; -moz-box-shadow:  inset 0 1px 0 #1c1c1c; -webkit-box-shadow: inset 0 1px 0 #1c1c1c; box-shadow: inset 0 1px 0 #1c1c1c; padding: 0 80px; }
		#footer-bottom ul, #et-social-icons { float: left; }
		#footer-bottom ul { margin-right: 25px; }
			#footer-bottom ul li { display: inline-block; }
			#footer-bottom li.current-menu-item a { color: #fff; }
				#footer-bottom li a { color: #fff; display: inline-block; position: relative; overflow: hidden; height: 62px; margin-bottom: -2px; }
			#footer-bottom li a:hover { color: #424348; background-color: #f9f9f9!important; -webkit-box-shadow: inset 0 0 30px #dbd6da!important; -moz-box-shadow: inset 0 0 30px #dbd6da!important; box-shadow: inset 0 0 30px #dbd6da!important; text-decoration:none; }
			#et-social-icons { padding-top: 17px; float:right; }
				#et-social-icons a { margin-right: 10px; }
					#et-social-icons img { opacity: 0.7; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
					#et-social-icons img:hover { opacity: 1; }
	#copyright { padding: 50px 0; text-align: right; color: #b7b7b7; text-shadow: 1px 1px 0 #fff; font-size: 14px; }
		#copyright a { color:#b7b7b7; font-weight: 800; }
		#copyright a:hover { color: #939393; text-decoration: none; }

	.fwidget { padding-bottom: 65px; width:100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; margin-right:0!important; }

	#footer-bottom-area { background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

	.fwidget li { background: url(images/footer_widget_bullet.png) no-repeat 0 13px; padding: 10px 0 10px 15px; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	.fwidget li:hover { background: url(images/footer_active_bullet.png) no-repeat 22px 13px; padding-left: 40px; }

/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

#sidebar { width: 320px; float: left; }
	.widget { margin-bottom: 80px; padding: 40px; }
	.widget:last-child { margin-bottom: 0; }
		.widget h4.widgettitle { color: #333; font-weight: 300; font-size: 16px; -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background-color: #fdfdfd; padding: 20px 48px; -moz-box-shadow:  inset 1px -1px 0 #fff, 0 2px 2px rgba(0,0,0,0.05); -webkit-box-shadow: inset 1px -1px 0 #fff, 0 2px 2px rgba(0,0,0,0.05); box-shadow: inset 1px -1px 0 #fff, 0 2px 2px rgba(0,0,0,0.05); border-bottom: 5px solid #ea6b1e; margin: -40px -40px 26px; }
		.widget ul { margin: -24px -40px -40px !important; }
			.widget ul ul { margin: 10px 0 -10px -40px !important; }

			.widget ul li, .nav li li, .et_mobile_menu a { border-bottom: 1px solid #e9e9e9; display: block; background: url(images/sidebar-bullet.png) no-repeat 40px 19px; padding: 16px 30px 16px 62px !important; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: block; }

			.nav li li, .et_mobile_menu a { padding-left: 43px !important; background-position: 22px 19px; }
				.nav li li a { padding: 0 !important; color: #878787 !important; }
				.nav li li a:hover, .et_mobile_menu li a:hover { color: #333 !important; }

			.et_mobile_menu li a { color: #878787 !important; }

			.widget ul li:last-child { border-bottom: none; }
			.widget ul li:hover, .nav li li:hover { background: #fbfbfb url(images/hover-sidebar-bullet.png) no-repeat 62px 19px; padding-left: 84px !important; }

			.nav li li:hover, .et_mobile_menu a:hover { background-position: 42px 19px !important; padding-left: 62px !important; }

			.widget ul li:hover a { color: #333; }
				.widget ul li a { color: #878787; text-decoration: none; }

			.nav ul > li:last-child { border-bottom: none; }

.woocommerce ul.cart_list { margin-bottom: 30px !important; }
.woocommerce a.button { margin-bottom: 10px !important; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; max-width: 96%; padding: 8px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav li ul { position:absolute; top:-999em; }
.nav li ul, .et_mobile_menu { z-index: 9999; width: 238px; background: #fff; -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.04); box-shadow: 0 3px 4px rgba(0,0,0,0.04); display: none; border: 1px solid #e9e9e9; }
	.nav li { position: relative; }
		.nav ul li { float: none; }
			.nav ul a { display:block !important; float: none !important; }
.nav li:hover ul, ul.nav li.sfHover ul { left: 0; top: 44px; }
	.nav li:hover li ul, .nav li.sfHover li ul, .nav li:hover ul, .nav li li:hover ul { top:-999em; }

.nav li li { padding: 0; height: auto !important; display: block !important; }
.nav li li ul { z-index: 1000; }
	.nav li li a:link, .nav li li a:visited, .et_mobile_menu a { display: block !important; height: auto; }
	.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

.nav li li:hover ul, ul.nav li li.sfHover ul { left: 238px; top: -1px; }

.nav li ul.sub-menu { text-align:left; }
.nav li ul.sub-menu li a { font-size:14px; }

/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #111; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 20px 0; }

#left-area .pages { display: none; }
#left-area .wp-pagenavi { text-align: right; color: #333; font-size: 22px; }
#left-area .wp-pagenavi span, #left-area .wp-pagenavi a { color: #333; padding: 0 15px; border: 1px solid #e9e9e9; padding: 10px 18px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.07); box-shadow: 0 1px 4px rgba(0,0,0,0.07); margin: 0 7px; }
#left-area .wp-pagenavi span.current, #left-area .wp-pagenavi a:hover { color: #fff; -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 100%); background-color: #444; border: 1px solid #000; -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5), inset 0 1px 1px #4d4d4d, 0 2px 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.5), inset 0 1px 1px #4d4d4d, 0 2px 3px rgba(0,0,0,0.4); box-shadow: inset 0 0 20px rgba(0,0,0,0.5), inset 0 1px 1px #4d4d4d, 0 2px 3px rgba(0,0,0,0.4); }
	#left-area .wp-pagenavi a:hover { text-decoration: none; }

#content .shop_table tr td { padding: 6px !important; }

#et_mobile_nav_menu { display: none; }

#et_home_tabs_prev, #et_home_tabs_next { position: absolute; top: 22px; width: 16px; height: 23px; padding: 0 !important; display: none !important; }
#et_home_tabs_prev { left: 40px; background: url(images/home_tabs_left.png) no-repeat; }
#et_home_tabs_next { right: 40px; background: url(images/et_home_tabs_next.png) no-repeat; }

.et_embedded_videos { display: none; }

.et_pt_gallery_entry { margin-left: 61px !important; }

.et_pt_portfolio_item { margin-left: 99px !important; }
.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 71px !important; }
.et_portfolio_large .et_pt_portfolio_item { margin-left: 124px !important; }

embed, iframe, object, video { max-width: 100%; }


.widget_wysija_cont.php_wysija .wysija-paragraph, .widget_wysija_cont.php_wysija .wysija-paragraph label, .widget_wysija_cont.php_wysija .wysija-submit { display: inline-block; }
.widget_wysija_cont.php_wysija .wysija-paragraph .wysija-required { color:#f47eb0; }
.widget_wysija_cont.php_wysija .wysija-paragraph .wysija-input { margin: 0; vertical-align: top; padding: 5px; height: 26px; }
.widget_wysija_cont.php_wysija .wysija-submit { margin: 0; vertical-align: top; }
.widget_wysija_cont.php_wysija .wysija-paragraph { margin: 0 10px; padding: 0; }

#main-header .widget_wysija_cont.php_wysija { width:50%; }


#mc_embed_signup { width:400px!important; }

@media only screen and ( min-width: 961px ) and ( max-width: 1300px ) {
	.container { width: 960px; }

	#body-area { padding-top: 40px; }
	#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content, #main-header { padding: 60px; }

	#slogan { display: none; }

	#featured .slide { min-height: 347px; }
		#featured .slide img { max-width: 716px; }

	.service, .footer-widget { width: 240px; margin-right: 60px; }
	#callout { margin-top: 60px; font-size: 22px; }
		#callout > strong { width: 639px; }
		#callout > span { width: 195px; padding: 39px 0; }

	.et-carousel-wrapper li { width: 165px; padding-right: 60px; }
	#home-tab-area { width: 536px; margin-right: 60px; }
	#testimonials { width: 240px; }

	.fwidget { padding-bottom: 50px; }

	
		.slide .description { padding-bottom: 32px; }
			.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .related.products h2 { font-size: 48px; }
	        .slide .description p { font-size: 18px; }
	    .service h3 { font-size: 22px; }
	    #callout { margin-top: 45px; }
	   	.et-carousel-wrapper h3, .et-products h3 { font-size: 18px; }
	   	.testimonial-author strong, .testimonial-author p  { font-size: 14px; }
	.footer-widget h4.widgettitle { font-size: 16px; }

	#main-footer { padding-bottom: 0; }

	#left-area { width: 540px; margin-right: 60px; }
	#sidebar { width: 240px; }

	.et_full_width_image .post-heading { margin-left: -60px; padding-left: 60px; }

	#category-name { padding: 53px 80px 48px; }
	h1.category-title { font-size: 60px; }
	.post-description { top: 95px; }
		.post-description h2 { font-size: 36px; }

	.et-products, ul.products { margin-left: -60px !important; }
		.et-products li, ul.products li { width: 140px !important; margin: 0 0 60px 60px !important; }

	.et-product-images, .woocommerce .images { width: 340px !important; }
	.woocommerce div.product div.summary { width: 140px !important; margin-left: 60px; }

	.et_full_width_image .post-heading { padding-top: 47px; margin-bottom: 49px; }
	.post-heading h1, h1#comments, #reply-title { font-size: 60px; }
		.testimonial-author strong, .testimonial-author p { font-size: 16px; }

	.et-products h3 { font-size: 16px; }

	.et_pt_gallery_entry { margin-left: 68px !important; }

	#et_pt_portfolio_gallery { margin-right: -70px; }
		.et_pt_portfolio_item { margin-left: 39px !important; }

	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 28px !important; }

	.et_portfolio_large .et_pt_portfolio_item { margin-left: 36px !important; }
}

@media only screen and ( max-width: 960px ) {
	#et-search, p#et-search-title, p#et-search-title span { background: none !important; }
	#et-search { width: auto !important; height: auto !important; }
		#et-search-inner { padding: 0 !important; }
			#et-search-right { float: none !important; clear: both; text-align: left !important; }
				#et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
			p#et-search-title { margin-bottom: 2px !important; }
				p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
	#et-searchinput { width: auto !important; }
	p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
	#et-search-left { float: none !important; width: 100% !important; }
}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
	.container { width: 728px; }
	#slogan { display: none; }
	#main-header { text-align: center; }
	.nav li li { text-align: left; }
		#logo { float: none; }

	#featured .slide { min-height: 270px; }
		#featured .slide img { max-width: 542px; }

	#body-area { padding-top: 30px; }

	#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content, #main-header { padding: 60px; }

	.service { float: none; width: 100%; margin-right: 0; margin-bottom: 60px; clear: both; }
		.service.blurb_icon h3, .service.blurb_icon p { margin-left: 115px; }
		.service-number { float: left; }

	#callout { margin-top: 60px; font-size: 18px; }
		#callout > strong { width: 451px; top: 10px; position: relative; }
		#callout > span { width: 151px; padding: 41px 0; }

	.et-carousel-wrapper li { width: 160px; }

	#home-tab-area, .footer-widget { width: 100%; margin-right: 0; margin-bottom: 60px; }

	#testimonials { width: 100%; margin-right: 0; margin-bottom: 11px; }

	.footer-widget { margin-bottom: 0; }
	.fwidget { padding-bottom: 60px; }


	#main-footer { padding-bottom: 0; }

		.slide .description { padding-bottom: 21px; }
			.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .related.products h2 { font-size: 36px; }
	        .slide .description p { font-size: 14px; }
	    .service h3 { font-size: 22px; }
	    #callout { margin-top: 45px; }
	   	.et-carousel-wrapper h3, .et-products h3 { font-size: 18px; }
	   		.et-price-button { font-size: 18px; }
	   	.testimonial-author strong, .testimonial-author p  { font-size: 14px; }
	.footer-widget h4.widgettitle { font-size: 16px; }

	#left-area { float: none; width: 100%; margin-right: 0; margin-bottom: 65px; }
	#sidebar { width: 100%; float: none; }
		#sidebar .widget { width: 195px; float: left; margin-right: 54px; }
		#sidebar .widget:nth-child(2n+1){ clear: left; }
		#sidebar .widget:nth-child(2n){ margin-right: 0; }

	.et_full_width_image .post-heading { margin: 0 0 20px; padding: 0; }

	#category-name { padding: 53px 80px 48px; }
		h1.category-title { font-size: 48px; }
		#category-name p.description { font-size: 20px; }
		.post-description { top: 114px; }
			.post-description h2 { font-size: 48px; }

	.et-products, ul.products { margin-left: -60px !important; }
		.et-products li, ul.products li { width: 160px !important; margin: 0 0 60px 60px !important; }

	.et-product-images, .woocommerce .images { width: 385px !important; }
	.woocommerce div.product div.summary { width: 163px !important; margin-left: 60px; }

	.post-heading h1, h1#comments, #reply-title { font-size: 48px; }
		.testimonial-author strong, .testimonial-author p { font-size: 16px; }

	.et-products h3 { font-size: 18px; }

	.et_pt_gallery_entry { margin-left: 79px !important; }

	#et_pt_portfolio_gallery { margin-left: -35px !important; margin-right: -20px !important; }
		.et_pt_portfolio_item { margin-left: 13px !important; width: 201px !important; }
		.et_portfolio_more_icon, .et_portfolio_zoom_icon { top: 50px !important; }
		.et_portfolio_more_icon { left: 65px !important; }
		.et_portfolio_zoom_icon { left: 106px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -39px !important; }
		#et_pt_portfolio_gallery.et_portfolio_small .et_pt_portfolio_item { margin-left: 16px !important; width: 117px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { top: 20px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon { left: 26px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { left: 62px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -42px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 14px !important; width: 321px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 99px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 140px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 178px !important; }
}

@media only screen and ( max-width: 767px ) {
	.container { width: 440px; }
	#body-area { padding-top: 20px; }

	#slogan, #top-navigation { display: none; }
	#main-header { text-align: center; }
	.nav li li { text-align: left; }
		#logo { float: none; }

	#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content, #main-header { padding: 60px; }

	#featured .slide { min-height: 181px; }
		#featured .slide img { max-width: 322px; }

	.service { float: none; width: 100%; margin-right: 0; margin-bottom: 60px; clear: both; }
		.service.blurb_icon h3, .service.blurb_icon p { margin-left: 115px; }
		.service-number { float: left; }

	#callout { height: auto; margin-top: 60px; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
		#callout > strong { margin-bottom: 6px; background: #fc8933; color: #fff; -moz-box-shadow: inset 0 0 30px #d9531f; -webkit-box-shadow: inset 0 0 30px #d9531f; box-shadow: inset 0 0 30px #d9531f; }
		#callout > strong, #callout > span { width: 100%; display: block; }
		#callout > span:before { display: none; }

	.et-carousel-wrapper li { padding-right: 75px; padding-left: 44px; }

	#home-tab-area, .footer-widget { width: 100%; margin-right: 0; margin-bottom: 60px; }

	#testimonials { width: 100%; margin-right: 0; margin-bottom: 11px; }

	.footer-widget { margin-bottom: 0; }
	.fwidget { padding-bottom: 60px; }

	#main-footer { padding-bottom: 0; }

	/*#footer-bottom, .post-description .testimonial-author { display: none; }*/

	
		.slide .description { padding-bottom: 5px; }
			.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .related.products h2 { font-size: 30px; }
	        .slide .description p { font-size: 12px; }
	    .service h3 { font-size: 18px; }
	    #callout { margin-top: 45px; font-size: 18px; }
	    	#callout > strong { padding: 30px 0; }
	    	#callout > span { font-size: 30px; }
	   	.et-carousel-wrapper h3, .et-products h3 { font-size: 22px; }
	   		.et-price-button { font-size: 24px; }
	   	.testimonial-author strong, .testimonial-author p  { font-size: 14px; }
	.footer-widget h4.widgettitle { font-size: 16px; }
	#copyright { text-align: center; }

	#left-area { float: none; width: 100%; margin-right: 0; margin-bottom: 65px; }
	#sidebar { width: 100%; float: none; }

	.et_full_width_image .post-heading { margin: 0 0 20px; padding: 0; }

	.commentlist .children { padding-left: 0; }

	#breadcrumbs, .entry-post p.meta-info { font-size: 14px; }
	#category-name { padding: 53px 80px 48px; }
		h1.category-title { font-size: 36px; }
		#category-name p.description { font-size: 16px; }
		.post-description { top: 48px; }
			.post-description h2 { font-size: 24px; }

	.et-products, ul.products { margin-left: -60px !important; }
		.et-products li, ul.products li { width: 128px !important; margin: 0 0 60px 60px !important; }

	.et-product-images, .woocommerce .images { width: 100% !important; float: none; margin-bottom: 50px; }
	.woocommerce div.product div.summary { width: 100% !important; margin-left: 0; float: none !important; margin-bottom: 50px !important; }

	.post-heading h1, h1#comments, #reply-title { font-size: 36px; }
		.post-heading p.meta-info { font-size: 18px; }
		.testimonial-author strong, .testimonial-author p { font-size: 16px; }

	.et-products h3 { font-size: 16px; }

	table.cart th, #content table.cart th, table.cart td, #content table.cart td, table.cart tr, #content table.cart tr, #content-area table tr, #content-area table td, #content-area table th { padding: .857em 0.287em; }
	.shop_table { margin-left: -25px !important; }
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { float: none !important; }

	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 { width: 100% !important; }

	#et_mobile_nav_menu { display: block; text-align: center; margin-top: 40px; }
	.mobile_nav { display: inline-block; font-weight: 800; padding: 12px 24px; position: relative; }
		.mobile_nav:hover { text-decoration: none; color: rgba(255,255,255,0.9); }
		.et_mobile_menu { position: absolute; top: 39px; left: -26px; text-align: left; }

			.et_mobile_menu span.menu_slide, .et_mobile_menu span.main_text { display: inline !important; text-align: left; padding: 0; }
			.et_mobile_menu a { font-weight: 300 !important; }
			.et_mobile_menu a:hover { text-decoration: none; }

			.et_mobile_menu ul { display: block !important; visibility: visible !important; margin: 0 !important; padding: 0 !important; }

	#home-tab-area > ul { height: 60px; }
		#home-tab-area > ul > li { display: none; }

	#et_home_tabs_prev, #et_home_tabs_next { display: block !important; }

	h1, h2, h3, h4, h5, h6 { letter-spacing: 0 !important; }

	.et_pt_gallery_entry { margin-left: 85px !important; }

	.sitemap-col { float: none !important; width: auto !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 340px !important; margin-bottom: 10px; margin-left: 17px !important; }
		.et_portfolio_small .et_pt_portfolio_entry { float: left; margin-right: 15px; }
		.et_portfolio_small .et_portfolio_more_icon, .et_portfolio_small .et_portfolio_zoom_icon { top: 30px !important; }
		.et_portfolio_small .et_portfolio_more_icon { left: 38px !important; }
		.et_portfolio_small .et_portfolio_zoom_icon { left: 77px !important; }
	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 44px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -23px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: -19px !important; width: 404px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 109px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 155px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 195px !important; }

	#et_contact_left, #et_contact_right { float: none !important; width: 100% !important; margin-left: 0 !important; }
	
	#mc_embed_signup{width:100% !important;}
	#mc_embed_signup #mce-success-response{width:100% !important;}
	#mc_embed_signup #mce-error-response{width:100% !important;}
	div#body-area ul li ul li{padding-left:30px !important;}
}

@media only screen and ( max-width: 479px ) {
	.container { width: 280px; }
	#body-area { padding-top: 0px; }

	#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content, #main-header { padding: 40px; }

	#featured .slide { min-height: 84px; }
		#featured .slide img { display: none !important; }

	.service-number { display: none; }
	.service.blurb_icon h3, .service.blurb_icon p { margin-left: 0; }

	.et-carousel-wrapper li { padding-right: 20px; padding-left: 0; width: 200px; }

	.slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .related.products h2 { font-size: 18px; letter-spacing: 0; }
        .slide .description p { font-size: 12px; }
	    .service h3 { font-size: 18px; }
	    #callout { margin-top: 45px; font-size: 18px; }
	    	#callout > strong { padding: 30px 0; }
	    	#callout > span { font-size: 30px; }
	   	.et-carousel-wrapper h3, .et-products h3 { font-size: 18px; }
	   		.et-price-button { font-size: 18px; }
	   	.testimonial-author strong, .testimonial-author p  { font-size: 14px; }
	.footer-widget h4.widgettitle { font-size: 16px; }
	#copyright { text-align: center; }

	.post-description { position: relative; top: 0; }

	#left-area .wp-pagenavi span, #left-area .wp-pagenavi a { display: inline-block; }

	.et-products, ul.products { margin-left: -40px !important; }
		.et-products li, ul.products li { width: 200px !important; margin: 0 0 40px 40px !important; }

	#breadcrumbs { display: none; }
	#category-name { padding: 43px 80px 38px; }
		h1.category-title { font-size: 24px; }
		#category-name p.description { font-size: 14px; }
			.post-description h2 { font-size: 18px; }
			.entry-post p.meta-info { font-size: 14px; }

	.et-products h3 { font-size: 18px; }

	table .product-thumbnail { display: none; }

	#content .shop_table tr td { padding: 0px !important; }

	.shop_table { margin-left: -39px !important; }

	#order_review .shop_table { margin-left: -6px !important; }

	.comment-body { margin-bottom: 105px; }
	.testimonial-author { bottom: -80px; }

	.post-description h2 { display: block; }

	#category-name { padding: 40px; }

	.et_pt_gallery_entry { margin-left: 25px !important; }

	#et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: -39px !important; }
		.et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 228px !important; }
			.et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
			.et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
			.et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

	#et_pt_portfolio_gallery { margin-left: -16px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 255px !important; margin-left: 0 !important; }
	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: -8px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 21px !important; }
}

@media only screen and ( min-width: 1919px ) and ( max-width: 2561px ) {
	#body-area { padding-top: 80px; }
}

/*------------------------------------------------*/
/*-----------------[COLOR SCHEMES]----------------*/
/*------------------------------------------------*/

.et_color_scheme_blue #featured { -moz-box-shadow: inset 0 0 250px #1d2ead; -webkit-box-shadow: inset 0 0 250px #1d2ead; box-shadow: inset 0 0 250px #1d2ead; background-color: #2f74c4; }
.et_color_scheme_blue #top-navigation > ul > li.sfHover > a, .et_color_scheme_blue #top-navigation > ul > li > a:hover, .et_color_scheme_blue .mobile_nav, .et_color_scheme_blue #home-tab-area > ul > li.home-tab-active, .et_color_scheme_blue #footer-bottom li a:hover, .et_color_scheme_blue .et-product:hover .et-price-button, .et_color_scheme_blue .et-products li:hover .et-price-button, .et_color_scheme_blue #callout { background-color: #2f74c4; }
.et_color_scheme_blue #top-navigation > ul > li.sfHover > a, .et_color_scheme_blue #top-navigation > ul > li > a:hover, .et_color_scheme_blue #home-tab-area > ul > li.home-tab-active, .et_color_scheme_blue #footer-bottom li a:hover, .et_color_scheme_blue .mobile_nav, .et_color_scheme_blue #callout { -moz-box-shadow: inset 0 0 30px #2d4dbf; -webkit-box-shadow: inset 0 0 30px #2d4dbf; box-shadow: inset 0 0 30px #2d4dbf; }
.et_color_scheme_blue #progress-time { background-color: #3e5cc9; }
.et_color_scheme_blue #home-tab-area > ul, .et_color_scheme_blue .widget h4.widgettitle { border-bottom-color: #3e5cc9; }

.et_color_scheme_purple #featured { -moz-box-shadow: inset 0 0 250px #391575; -webkit-box-shadow: inset 0 0 250px #391575; box-shadow: inset 0 0 250px #391575; background-color: #772dbc; }
.et_color_scheme_purple #top-navigation > ul > li.sfHover > a, .et_color_scheme_purple #top-navigation > ul > li > a:hover, .et_color_scheme_purple .mobile_nav, .et_color_scheme_purple #home-tab-area > ul > li.home-tab-active, .et_color_scheme_purple #footer-bottom li a:hover, .et_color_scheme_purple .et-product:hover .et-price-button, .et_color_scheme_purple .et-products li:hover .et-price-button, .et_color_scheme_purple #callout { background-color: #772dbc; }
.et_color_scheme_purple #top-navigation > ul > li.sfHover > a, .et_color_scheme_purple #top-navigation > ul > li > a:hover, .et_color_scheme_purple #home-tab-area > ul > li.home-tab-active, .et_color_scheme_purple #footer-bottom li a:hover, .et_color_scheme_purple .mobile_nav, .et_color_scheme_purple #callout { -moz-box-shadow: inset 0 0 30px #45169e; -webkit-box-shadow: inset 0 0 30px #45169e; box-shadow: inset 0 0 30px #45169e; }
.et_color_scheme_purple #progress-time { background-color: #6718bc; }
.et_color_scheme_purple #home-tab-area > ul, .et_color_scheme_purple .widget h4.widgettitle { border-bottom-color: #6718bc; }

.et_color_scheme_red #featured { -moz-box-shadow: inset 0 0 250px #681515; -webkit-box-shadow: inset 0 0 250px #681515;box-shadow: inset 0 0 250px #681515; background-color: #d13232; }
.et_color_scheme_red #top-navigation > ul > li.sfHover > a, .et_color_scheme_red #top-navigation > ul > li > a:hover, .et_color_scheme_red .mobile_nav, .et_color_scheme_red #home-tab-area > ul > li.home-tab-active, .et_color_scheme_red #footer-bottom li a:hover, .et_color_scheme_red .et-product:hover .et-price-button, .et_color_scheme_red .et-products li:hover .et-price-button, .et_color_scheme_red #callout { background-color: #d13232; }
.et_color_scheme_red #top-navigation > ul > li.sfHover > a, .et_color_scheme_red #top-navigation > ul > li > a:hover, .et_color_scheme_red #home-tab-area > ul > li.home-tab-active, .et_color_scheme_red #footer-bottom li a:hover, .et_color_scheme_red .mobile_nav, .et_color_scheme_red #callout { -moz-box-shadow: inset 0 0 30px #ad1a1a; -webkit-box-shadow: inset 0 0 30px #ad1a1a; box-shadow: inset 0 0 30px #ad1a1a; }
.et_color_scheme_red #progress-time { background-color: #bc1c1c; }
.et_color_scheme_red #home-tab-area > ul, .et_color_scheme_red .widget h4.widgettitle { border-bottom-color: #bc1c1c; }

.et_color_scheme_green #featured { -moz-box-shadow: inset 0 0 250px #005923; -webkit-box-shadow: inset 0 0 250px #005923; box-shadow: inset 0 0 250px #005923; background-color: #11af3b; }
.et_color_scheme_green #top-navigation > ul > li.sfHover > a, .et_color_scheme_green #top-navigation > ul > li > a:hover, .et_color_scheme_green .mobile_nav, .et_color_scheme_green #home-tab-area > ul > li.home-tab-active, .et_color_scheme_green #footer-bottom li a:hover, .et_color_scheme_green .et-product:hover .et-price-button, .et_color_scheme_green .et-products li:hover .et-price-button, .et_color_scheme_green #callout { background-color: #11af3b; }
.et_color_scheme_green #top-navigation > ul > li.sfHover > a, .et_color_scheme_green #top-navigation > ul > li > a:hover, .et_color_scheme_green #home-tab-area > ul > li.home-tab-active, .et_color_scheme_green #footer-bottom li a:hover, .et_color_scheme_green .mobile_nav, .et_color_scheme_green #callout { -moz-box-shadow: inset 0 0 30px #07753e; -webkit-box-shadow: inset 0 0 30px #07753e; box-shadow: inset 0 0 30px #07753e; }
.et_color_scheme_green #progress-time { background-color: #009320; }
.et_color_scheme_green #home-tab-area > ul, .et_color_scheme_green .widget h4.widgettitle { border-bottom-color: #009320; }

.et_color_scheme_gray #featured { -moz-box-shadow: inset 0 0 250px #000; -webkit-box-shadow: inset 0 0 250px #000; box-shadow: inset 0 0 250px #000; background-color: #565656; }
.et_color_scheme_gray #top-navigation > ul > li.sfHover > a, .et_color_scheme_gray #top-navigation > ul > li > a:hover, .et_color_scheme_gray .mobile_nav, .et_color_scheme_gray #home-tab-area > ul > li.home-tab-active, .et_color_scheme_gray #footer-bottom li a:hover, .et_color_scheme_gray .et-product:hover .et-price-button, .et_color_scheme_gray .et-products li:hover .et-price-button, .et_color_scheme_gray #callout { background-color: #444444; }
.et_color_scheme_gray #top-navigation > ul > li.sfHover > a, .et_color_scheme_gray #top-navigation > ul > li > a:hover, .et_color_scheme_gray #home-tab-area > ul > li.home-tab-active, .et_color_scheme_gray #footer-bottom li a:hover, .et_color_scheme_gray .mobile_nav, .et_color_scheme_gray #callout { -moz-box-shadow: inset 0 0 30px #000; -webkit-box-shadow: inset 0 0 30px #000; box-shadow: inset 0 0 30px #000; }
.et_color_scheme_gray #progress-time { background-color: #353535; }
.et_color_scheme_gray #home-tab-area > ul, .et_color_scheme_gray .widget h4.widgettitle { border-bottom-color: #353535; }

#ie7 #et-social-icons, #ie8 #et-social-icons { width: 90px; }

.js #featured .slide.et-active-slide {list-style:none !important;}

.post-description h2 { width: 100%; text-align: center; }
.post-thumbnail .post-description h2 {width: auto;}


#mc4wp-form-1 input[type="email"], #mc4wp-form-1 input[type="text"] { background:#414247; border: solid 1px #545655; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; }
#mc4wp-form-1 input[type="email"]:focus, #mc4wp-form-1 input[type="text"]:focus { border: solid 1px #666; color:#666; -moz-box-shadow: inset 0 0 0px #e55592!important; -webkit-box-shadow: inset 0 0 0px #e55592!important; box-shadow: inset 0 0 0px #e55592!important; } 

#mc4wp-form-1 label { color:#bebebc; font-size:15px; font-weight:normal; }

#mc4wp-form-1 input[type="submit"] { background:#f47eb0!important; -moz-box-shadow: inset 0 0 30px #e55592!important; -webkit-box-shadow: inset 0 0 30px #e55592!important; box-shadow: inset 0 0 30px #e55592!important; color:#fff; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; width:90px!important; border:0; height:38px; } 

.paypal-donations { margin-left: 65px; margin-top: 15px; }

.footer-widget.first{float:left;width:32%; display:none; }
.footer-widget.second{float:none; width:100%; margin: 0 auto; }
.footer-widget.second .fwidget { float: none; text-align:center; }
.footer-widget.second .fwidget .paypal-donations { margin-left: 0; }
.footer-widget.last{float:right;width:32%;}


@media all and (max-width:1300px) { 

	#featured .slide { min-height: inherit; }
	#featured .slide.et-active-slide img { width: 100% !important; }
	#callout > strong { font-size: 33px; width: 614px; }
	#callout > span { padding: 35px 0; font-size: 30px; }

	#featured .slide img { max-width: inherit; }
	.footer-widget h4.widgettitle { line-height: normal; }
}

@media all and (max-width:1200px) { 

#main-header .widget_wysija_cont.php_wysija { width:60%; }
.widget_wysija_cont.php_wysija .wysija-paragraph { margin: 0 7px; }
.widget_wysija_cont.php_wysija .wysija-paragraph .wysija-input { width: 119px; }
.widget_wysija_cont.php_wysija .wysija-paragraph lable { font-size: 14px; }
#top-navigation { width: 61%; }


}


@media all and (max-width:1023px) { 


#main-header { padding: 20px; }
#top-navigation { padding-top: 10px; float: none; }
.service h3 { text-align: left; }
#callout { height: 80px; }
#callout > strong { font-size: 23px; width: 427px; top:0; }
#callout > span { font-size: 26px; padding: 27px 0; }
#callout > span:before { background-position: 0 -9px; height: 80px; }
#copyright { padding: 20px 0; text-align:center; }
#et-social-icons { float: none; padding: 0 0 17px; text-align: center; }
#footer-bottom ul { margin:0; text-align:center; float: none; }
.fwidget { width:100%; text-align:center; }
.paypal-donations { margin-left: 0; }
#mc4wp-form-1 input { margin: 0 auto; clear:both; }
.mc4wp-form label { text-align:center; width: 100%!important; }
.et-carousel-wrapper { padding: 50px 10px; margin-left:50px; }
#breadcrumbs { padding:22px 60px; }

#main-header .widget_wysija_cont.php_wysija, #top-navigation { width:100%; }
#top-navigation { clear: both; }
#top-navigation ul { text-align:center; }

}

@media all and (max-width:767px) { 

#et_mobile_nav_menu { margin-top:0; }
#section-area, .et-carousel-wrapper, #home-info, #main-footer, #content, #main-header { padding: 30px; }
#callout, #callout > strong  { background:#eb468a !important; box-shadow:0 0 30px #d9286e inset !important; -moz-box-shadow:0 0 30px #d9286e inset !important -webkit-box-shadow:0 0 30px #d9286e inset !important }
#callout > strong { width: inherit; padding: 20px; text-align:center; margin-bottom:0; }
#callout > strong > strong { display: block; margin-top:10px; }
#callout { height: inherit; }
.et-carousel-wrapper { padding: 50px 36px; }
#breadcrumbs { padding: 22px 30px; }
.entry-content .post-heading h1 { font-size:35px !important; }
.entry-content p { font-size: 14px; line-height: 24px; }
#section-area1 #callout { float: none!important; }
#left-area { margin-bottom:0; }

#main-header .widget_wysija_cont.php_wysija { text-align:left; margin: 0; }
#et_mobile_nav_menu { padding-top:20px; clear:both; }
.widget_wysija_cont.php_wysija .wysija-paragraph { width: 100%; margin-bottom: 10px; }
.widget_wysija_cont.php_wysija .wysija-paragraph .wysija-input { width:65%; }
.widget_wysija_cont.php_wysija .wysija-paragraph label { width: 65px; }
.widget_wysija_cont.php_wysija .wysija-submit { clear:both; margin-left: 76px; display:block; }

}


@media all and (max-width:479px) { 

#featured .slide img { display:block!important; }
.service, .service h3 { text-align:center; }
.et-carousel-wrapper { padding: 50px 0; }
.et-carousel-wrapper li { padding: 0!important; }
.et-carousel-wrapper li img { width: 170px!important; } 
.et-carousel-wrapper { margin-left: 40px; margin-right:40px; }
.entry-content { text-align: center; }
.widget { padding: 10px; }
.widget h4.widgettitle { margin: -40px -10px 0px; padding: 20px; line-height: normal; }

.widget_wysija_cont.php_wysija .wysija-paragraph .wysija-input { width: 94%; height:inherit; }
.widget_wysija_cont.php_wysija .wysija-submit { margin-left: 60px; }

.widget ul { margin: 0 !important; }
.widget ul li { background-position:5px 19px; padding: 16px 0 16px 20px !important; }
.widget ul li:hover { background-position:15px 19px; padding-left: 30px !important; }
.widget ul ul { margin: 10px 0 -10px !important; }

}

#mc_embed_signup div.response{width:70% !important; margin:0px !important;font-size: 10px; float:right !important;}
#mc_embed_signup {float: right !important; clear:right !important;}
#mc_embed_signup form {
	display: block !important;position: relative !important;padding: 0px 0 10px 3% !important; text-align: justify !important;
	float:right !important;
}

#mc_embed_signup .mc-field-group{ clear: none !important; padding-bottom: 3%;  float: left !important;  padding-right: 9px; width:auto !important;   min-height: 35px !important;}
#mc_embed_signup .mc-field-group label {margin-bottom: 3px; width: 100% !important; display: block;float: left;}
#mc_embed_signup .mc-field-group input {display: block !important;width: 100% !important;padding: 8px 0 !important;text-indent: 2% !important;}
#mc-embedded-subscribe{margin:auto !important;}
.clear.btnsubscribe {float: right;}
#mc_embed_signup #mce-success-response{width:44%; }
#mc_embed_signup #mce-error-response{width:70%;}
#home-tab-area > ul, .widget h4.widgettitle{border-bottom:5px solid #ed337e !important; }

@media all and (min-width:320px) { 
#mc_embed_signup {background:rgba(0, 0, 0, 0) none repeat scroll 0 0;}
/* #mc_embed_signup form {  margin-left: 100px;} */
}


/******* GRAY'S MODIFICATIONS *********/

/* mail chimp */
.mc4wp-form label { width: auto !important; }
#mc4wp-form-1 input { width: auto !important; }

.mc4wp-form button, .mc4wp-form input[type="submit"] {
    margin-left: auto !important;
}